.wrap {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 250px;
  }
  

  a {
	background: #FFA500; /* Orange background color */
	color: #fff; /* White text color */
	border: 2px solid #008000; /* Green border color */
	border-radius: 20px;
	text-decoration: none;
	width: 150px; /* Ökade bredden för att bättre passa texten */
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 16px; /* Ökad textstorlek */
	transition: background 0.3s, color 0.3s, border-color 0.3s; /* Smidig övergångseffekt */
	position: absolute; /* Absolut positionering */
	top: 80%; /* Vertikal position på mitten */
	left: 50%; /* Horisontell position på mitten */
	transform: translate(-50%, -50%); /* Centrering i mitten av elementet */
  }
  
  a:hover {
	background: #008000; /* Grön bakgrundsfärg vid hover */
	color: #FFA500; /* Orange textfärg vid hover */
	border-color: #FFA500; /* Orange bårdens färg vid hover */
  }
